<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Appdate</a></h1>
		</li>
		<!--
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		-->
	</ul>
</nav>


<div class="row">
	<div class="small-12 medium-6 medium-centered columns">
		<h3>New note</h3>
	</div>
</div>

<%= render 'form' %>
